node_modules
.pnpm-store
.pnpm
pnpm-debug.log
npm-debug.log
dist
coverage
test
.git
.gitignore
README.md
.env.example
.vscode
.idea
*.md
.env
.env.*
!.env.production
.DS_Store
.editorconfig
.gitattributes
package-lock.json
.npmrc
